body{
  margin:0;
  text-align: center;
  padding: 0;
  font-family: 'Kufam', cursive;
  overflow-x: hidden;
}
.sale{
  box-sizing: border-box;
  margin-top: 5vh;
  width: 99vw;
  height: 120vh;
}
#sale-img{
  width: 99vw;
  height: 120vh;
}

@media only screen and (max-width:768px){
  .sale{
    background-color: black;
    box-sizing: border-box;
    margin-top: 5vh;
    height: 80vh;
    width: 120vw;
    
  }
  #sale-img{
    width: 120vw;
    height: 80vh;
    
  }
}


