body{
  margin:0;
  text-align: center;
  padding: 0;
  font-family: 'Kufam', cursive;

}
.sale{
  box-sizing: border-box;
  margin-top: 5vh;
  height: 97h;
  width: 100%;

}
#sale-img{
  height: 97vh;
  width: 100%;
  
}

@media only screen and (max-width:600px) and (min-width:300px){
  .sale{
    background-color: black;
    box-sizing: border-box;
    margin-top: 5vw;
    height: 95vw;
    width: 100%;
    
  }
  #sale-img{
    height: 95vw;
    width: 100%;
    
    
  }
}

