body{
  margin:0;
  text-align: center;
  padding: 0;
  font-family: 'Kufam', cursive;
  box-sizing: border-box;

}
/* Sale Banner css styling */
.black-friday{
  box-sizing: border-box;
  margin-top: 3.5%;
  width: 100%;
  height: auto;
  cursor: pointer;
 
}
.sale-poster{
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

/*     ****************Men Model****************     */
.model{
  
  box-sizing: border-box;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.model-pic{
  box-sizing: border-box;
  width: 100%;
  height: auto;
}




















/* ********************************Media queries******************************** */

/* ********************************Media queries for laptops and desktops******************************** */

/* ********************************Media queries for Tablets and Ipads******************************** */
@media only screen and (min-width: 769px) and (max-width: 1023px){
  .black-friday{
    margin-top: 5.5%;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    
  }
  .sale-poster{
    width: 100%;
    height: auto;
  }
  .model{
    width: 100%;
    height: auto;
  }
  .model-pic{ 
    width: 100%;
    height: auto;
  }
}


/* ********************************Media queries For Mobile Phones******************************** */

@media only screen and (max-width: 768px) and (min-height: 469px){
  .black-friday{
    margin-top: 5.5%;
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    
  }
  .sale-poster{
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
  .model{
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
  .model-pic{
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 468px){
  .black-friday{
    margin-top: 5.5%;
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    
  }
  .sale-poster{
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
  .model{
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
  .model-pic{
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }

}
